<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
    <h3>
      Welcome to {{ title }}!
    </h3>
  </div>
</div>
<div class="container">
  <div class="sidenav">
      <ul>
        <li>
          <h2><a class="nav-link" routerLink="home" employee >Home</a></h2>
        </li>
        <li>
          <h2><a  class="nav-link" rel="noopener" routerLink="employee"  >Nested View</a></h2>
        </li>
        <li>
          <h2><a  class="nav-link" rel="noopener"  >Authenticated Route</a></h2>
        </li>
        <li>
          <h2><a  class="nav-link" rel="noopener"  >Route with ID</a></h2> 
          </li>
        
      </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>