<!--The content below is only a placeholder and can be replaced.-->
<div>
<div style="text-align:center;  ">
  <div>
    <h3>
      Welcome to {{ title }}!
    </h3>
    <p>It covers following, <br> Routing level: <b>Parent</b> &#8594; <b>Child</b>, <b>Parent</b> &#8594; <b>Child</b> &#8594; <b>Grandchild</b> &#8594; <b>Great-Grandchild</b><br>
      Routing Animation.<br>
      Authenticated Route. <br>
      Broadcast from Great-Grandchild to Parent. </p>
  </div>
</div>
<div class="container">
  <div class="sidenav">
      <ul>
        <li>
          <h2><a routerLink="home">Home</a></h2>
        </li>
        <li>
          <h2><a routerLink="employee">Nested View</a></h2>
        </li>
        <li>
          <h2><a routerLink="account">Authenticated Route</a></h2>
        </li>        
      </ul>
  </div>
  <div class="main" [@routeAnimations]="prepareRoute(outlet)" >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="message">
    {{message}}
  </div>
</div>
</div>